.grupo {
    height: 20rem;
    width: 94%;
    margin: 0.7rem 1rem;
    border-radius: 1rem;
    display: flex; /*Convertimos al contenedor en flexbox*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    flex-wrap: wrap; /*Con esto le indicamos que si llega al margen del contenedor que se posicione abajo del otro item*/
    padding: 15px 15px 0px 15px;
  }
  .item {
      background: #dedfde;
      width: 30%;
      height: 100%;
      margin-bottom: 15px;
      border-radius: 2em;
      padding: 15px 15px 55px 15px;
      border: solid 1px;
  }
  .icon{
      width: 100%;
      height: 100%;
  }
  .item-title{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      font-size: large;
      font-weight: bolder;
      margin-top: 10px;
  }